.DS_Store

**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Override files as they are usually managed by automation
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .tfvars files that can contain sensitive information
# *.tfvars

# .terraformrc or terraform.rc files
.terraformrc
terraform.rc